.logo{
  padding-left: 100px;
  padding-right: 100px;
  display:flex;
  justify-content: space-between;
  box-shadow: 0.5px 0.5px rgb(164, 164, 164);
}

.navbar{
  display:flex;

}

.support{
  padding: 20px 20px;
}

.signup{
  padding: 20px 20px;
}

.pricing{
  padding: 20px 20px;
}

.product{
  padding: 20px 20px;
}

.about{
  padding: 20px 20px;
}

.middleimg{
  padding:10px;
  display: flex;
  justify-content: center;
}

h1{
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.75rem;
  margin:0px;
}

.line1{
  margin-top:35px;
  display: flex;
  justify-content: center;
  padding-bottom: 0px;
  
}

h2{
  color:gray;
  font-weight: 200;
  font-family: Arial, Helvetica, sans-serif;
}


.line2{
  padding-top: 0px;
  margin-top: 0px;;
  display: flex;
  justify-content: center;
}

.line3{
  display: flex;
  justify-content: center;

}

.btn{
  margin-top:25px;
  width:180px;
  height:50px;
  background-color:#387ed1;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 6px;
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: 500;
  cursor: pointer;
}

button:hover{
  background-color: black;
}
